.welcome {
    text-align: center;
    color: #ffffff;
}

.generalContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 1%;
}

.input {
    background-color: #f5c573;
    border-radius: 25px;
    border:  2px solid darkorange;
}

.fields {
    width: 50%;
    height: 60%;
}

.innerFields {
    width: 80%;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
