@page "/Login"

@using Nep_Cloud_Storage.Form
@using Nep_Cloud_Storage.Data
@using Nep_Cloud_Storage.Model

@using Nep_Cloud_Storage.Authentication
@inject AuthenticationStateProvider AuthenticationStateProvider

<style>
p.error {
  color: red;
}
body {
    background-color: #0058A5;
}
</style>

<AuthorizeView Roles="user, admin">
    <Authorized>
        <p>U bent al ingelogd</p>
    </Authorized>
    <NotAuthorized>
        <h1 class="welcome">Welkom</h1>
        <EditForm Model=@loginForm OnSubmit=@FormSubmitted Context="another_name">
            <DataAnnotationsValidator/>
            <div class="generalContent">
                <div class="input fields">
                    <div class="innerFields">
                        <div class="form-group">
                            <label for="Name">Gebruikersnaam</label>
                            <InputText @bind-Value=loginForm.Name class="form-control" id="Name" />
                            <ValidationMessage For="@(() => loginForm.Name)" />
                        </div>
                        <div class="form-group">
                            <label for="Password">Wachtwoord</label>
                            <InputText type="password" @bind-Value=loginForm.Password class="form-control" id="Password" />
                            <ValidationMessage For="@(() => loginForm.Password)" />
                        </div>
                        <div>
                            @if (invalidLogin)
                            {
                                <p class="error">Ongeldige gebruiker of bedrijf</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="generalContent">
                <input type="submit" class="btn btn-primary input" value="Inloggen"/>
            </div>
        </EditForm>
    </NotAuthorized>
</AuthorizeView>


@code{
    LoginForm loginForm;
    UserController userController;
    CompanyController companyController;
    Model.SessionData sessionData;
    TokenController tokenController;
    bool userFound;
    bool companyFound;
    string loginName;
    string loginPassword;
    SessionController sessionController;
    bool invalidLogin;
    /// <summary>
    /// The following code is excuted once this page is loading in
    /// The objects needed for the code to work are made
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() => 
        {
            loginForm = new LoginForm();
            userController = new UserController(Configuration);
            companyController = new CompanyController(Configuration);
            sessionController = new SessionController(Configuration);
            tokenController = new TokenController();
            invalidLogin = false;
        });
    }
    /// <summary>
    /// checks if the data belongs to an user or organisation
    /// if this is the case the user or organisation will be logged in
    /// </summary>
    async void FormSubmitted(EditContext editContext)
    {
        LoginForm loginForm2 = new LoginForm();
        // this cannot hash an empty string or a string that has a nullrefrence
        if (!string.IsNullOrEmpty(loginForm.Password))
        {
            if (loginForm.Password.Length > 0)
            {
                loginName = loginForm.Name;
                loginPassword = tokenController.CreateHash(loginForm.Password);
                companyController.Login<Company>(loginName, loginPassword);
                userController.Login<User>(loginName, loginPassword);
            }
        }
        // Checks for what login data is found or if the login data is invalid
        userFound = LoginValid<UserController>(userController, loginForm2);
        companyFound = LoginValid<CompanyController>(companyController, loginForm2);
        // checks if user and company login both are not found
        if (!(userFound || companyFound))
        {
            // Login is invalid
            invalidLogin = true;
            StateHasChanged();
        }
    }

    /// <summary>
    /// Checks if the login is valid.
    /// Returns true when the login has been found.
    /// </summary>
    /// <param name="controller">expects a controller</param>
    /// <param name="loginForm2">expects a loginForm with the data of the login</param>
    protected bool LoginValid<T>(T t, LoginForm loginForm2)
    {
        dynamic controller = t;
        bool loginTypeFound = false;
        // Goes to login that has been found
        switch (controller.LoginNameFound)
        {
        case Controller<Company>.LoginType.TypeCompany:
            // Company is found
            sessionData = sessionController.CreateSession(loginName, loginPassword, false, null, companyController.CompanyCodeName);
            SetSessionStorage();
            
            ((MyAuthenticationStateProvider)AuthenticationStateProvider).AuthUserWithRole(sessionData.CompanyCode, "company");
            NavigationManager.NavigateTo("/Registreren");
            loginTypeFound = true;
            break;
        case Controller<User>.LoginType.TypeUser:
            // User is found
            sessionData = sessionController.CreateSession(loginName, loginPassword, true, userController.UserId, null);
            SetSessionStorage();
            ((MyAuthenticationStateProvider)AuthenticationStateProvider).AuthUserWithRole(loginName, userController.UserRole);
            // Checks whether the user is a normal user or an admin. Then the user is send to the correct page.
            if (userController.UserRole.Equals("User")) 
            {
                NavigationManager.NavigateTo("/Documenten");
            }
            else 
            {
                NavigationManager.NavigateTo("/statistieken");
            }
            loginTypeFound = true;
            break;
        }
        return loginTypeFound;
    }

    /// <summary>
    /// Sets the session key using the given variables
    /// </summary>
    async void SetSessionStorage()
    {
        await sessionStorage.SetItemAsync("session", sessionData);
    }
}