@page "/Registreren"

@using Model
@using Nep_Cloud_Storage.Form
@using Nep_Cloud_Storage.Data
@using Nep_Cloud_Storage.DataBaseConnection

@using Nep_Cloud_Storage.Authentication
@inject AuthenticationStateProvider AuthenticationStateProvider

<style>
p.error {
  color: red;
}
body {
    background-color: #0058A5;
}
</style>

<AuthorizeView Roles="company">
    <Authorized>
        <h1 class="register">Registreer uw account</h1>
        <EditForm Model=@userRegisterForm OnSubmit=@FormSubmitted Context="another_name">
            <DataAnnotationsValidator/>
            <div class="generalContent">
                <div class="input fields">
                    <div class="innerFields">
                        <div class="form-group">
                            <label for="Name">Gebruikersnaam</label>
                            <InputText @bind-Value=userRegisterForm.Name class="form-control" id="Name" />
                            <ValidationMessage For="@(() => userRegisterForm.Name)" />
                        </div>
                        <div class="form-group">
                            <label for="Password">Wachtwoord</label>
                            <InputText type="password" @bind-Value=userRegisterForm.Password1 class="form-control" id="Password1" />
                            <ValidationMessage For="@(() => userRegisterForm.Password1)" />
                        </div>
                        <div class="form-group">
                            <label for="Password">Herhaal Wachtwoord</label>
                            <InputText type="password" @bind-Value=userRegisterForm.Password2 class="form-control" id="Password2" />
                            <ValidationMessage For="@(() => userRegisterForm.Password2)" />
                        </div>
                        <div>
                            @if (invalidLogin)
                            {
                                <p class="error">@errorMessage</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="generalContent">
                <input type="submit" class="btn btn-primary input" value="Registreer"/>
            </div>
        </EditForm>
    </Authorized>
    <NotAuthorized>
        <p>U bent niet ingelogd als een bedrijf of organisatie.</p>
    </NotAuthorized>
</AuthorizeView>


@code{
    UserRegisterForm userRegisterForm;

    TokenController tokenController;
    
    SessionController sessionController;

    UserController userController;

    CompanyController companyController;
    
    DataBase dataBase;

    bool invalidLogin = false;
    string errorMessage;

    /// <summary>
    /// The following code is excuted once this page is loading in
    /// The objects needed for the code to work are made
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() => 
        {
            userRegisterForm = new UserRegisterForm();
            tokenController = new TokenController();
            sessionController = new SessionController(Configuration);
            userController = new UserController(Configuration);
            companyController = new CompanyController(Configuration);
            dataBase = new DataBase(Configuration);
        });
    }

    /// <summary>
    /// checks if there is an user or organisation that has the same data as the UserRegisterForm
    ///     -user: we do not want 2 users with the same login credentials
    ///     -organisation: we do not want an user to have the same login credentials as an organisation
    /// if this is not the case this creates an user 
    /// </summary>
    async void FormSubmitted(EditContext editContext)
    {
        SessionData storageSessionData = await sessionStorage.GetItemAsync<SessionData>("session");
        string companyCode = storageSessionData.CompanyCode;

        UserRegisterForm userRegisterForm2 = new UserRegisterForm();
        // this can not hash an empty string 
        if (userRegisterForm.Password1.Length > 0 && userRegisterForm.Password2.Length > 0)
        {
            userRegisterForm2.Name = userRegisterForm.Name;
            userRegisterForm2.Password1 = tokenController.CreateHash(userRegisterForm.Password1);
            userRegisterForm2.Password2 = tokenController.CreateHash(userRegisterForm.Password2);
        }
        User user;
        Company company;

        user = new User {Name = userRegisterForm2.Name, Password = userRegisterForm2.Password1, CompanyCode = companyCode};
        company = new Company {CompanyCode = userRegisterForm2.Name, Password =userRegisterForm2.Password1};

        // checks if the register data is the same as an existing user or organization
        if (userController.ChecksAccountExist<User>(user) || companyController.ChecksAccountExist<Company>(company))
        {
            errorMessage = "gebruiker bestaat al";
            invalidLogin = true;
            StateHasChanged();
            return;
        }
        // saves user to DB
        userController.Save(user);

        // get saved user from DB (with id)
        userController.GetinProperty<User>(false);
        user = userController.CUser;

        Model.SessionData sessionData;
        sessionData = sessionController.CreateSession(user.Name, user.Password, true, user.Id, null);
        
        await sessionStorage.SetItemAsync("session", sessionData);
        
        // measures password strength
        Password password = new Password();
        password.CheckPasswordStrength(userRegisterForm.Password1);

        // put measurements in the DB
        string now = DateTime.Now.ToString("yyyy-MM-dd");
        string entropy = password.PasswordEntropyLevel.ToString(".000000", System.Globalization.CultureInfo.InvariantCulture);
        dataBase.SendSQLCode(
            "INSERT INTO passwordstrengthdata (amountUpperCases, amountLowerCases, amountNumbers, amountSymbols, entropy, dateOfTest, userId) VALUES( " + 
            $"{password.PasswordAmountUpperCase}, {password.PasswordAmountLowerCase}, {password.PasswordAmountOfNumbers}, " + 
            $"{password.PasswordAmountOfSpecialCharacters}, {entropy}, '{now}', {user.Id});");
        dataBase.SendSQLCode(
            $"UPDATE `maturitylevel` SET `passwordStrengthLevel` = '{password.PasswordStrengthLevel}' WHERE (`userId` = '{user.Id}');");
            
        ((MyAuthenticationStateProvider)AuthenticationStateProvider).AuthUserWithRole(user.Name, "User");
        NavigationManager.NavigateTo("/Documenten");
    }
}