@page "/MKB-registreren"

@using Nep_Cloud_Storage.Form
@using Nep_Cloud_Storage.Data
@using Nep_Cloud_Storage.Controller

<h1 class="title">Bedrijf registeren</h1>

<div class="search-bar">
    <EditForm Model=@askCompanyForm OnSubmit=@CompanySet>
        <InputText @bind-Value=askCompanyForm.Company class="search" id="Name" />
        <ValidationMessage For="@(() => askCompanyForm.Company)" />
        <input type="submit" class="button" value="Invoeren"/>
    </EditForm>
</div>
<div class="mailFormat">
    <h2 class="titleMail">Stuur de volgende mail naar een bedrijf:</h2>
    <div>
        <p class="bottem-margin">Geachte werkgever,</p>
        <p>
            U heeft ons gecontacteerd met betrekking tot het Human factors in Cybersecurity lab. Wij bieden een meetinstrument aan. Hiermee kunt u het onlinegedrag van uw medewerkers meten. 
            U krijgt zodra u klaar bent een mail van ons met de resultaten. Hierin zijn de gegevens niet terug te koppelen aan uw medewerkers. 
            De gegevens zijn ook niet direct terug te koppelen aan uw bedrijf. Doordat in de algemene inloggegevens een alias voor de bedrijfsnaam wordt gebruikt.
        </p>
        <p>
            Uw taak in het onderzoek: Onder deze alinea bevindt zich nog een andere mail. Deze is bedoeld voor uw werknemers, om mee te kunnen doen aan het onderzoek. 
            De mail begint bij ‘Geachte werknemer’ en eindigt met ‘{Vul uw naam in}’. Wij willen aan u vragen of u deze mail naar de uw werknemers kunt sturen. 
            U kunt uw eigen naam bij de afsluiting toevoegen.
        </p>
        <div class="indented">
            <p class="bottem-margin">
                Geachte werknemer,
            </p>
            <p>
                Het bedrijf Nimbus is bezig om een veilig alternatief te maken voor het delen van bestanden. Met deze applicatie is het ook mogelijk om collega’s te contacteren. 
                Deze applicatie is nog in ontwikkeling.
            </p>
            <p>
                Wij zijn geïnteresseerd in de ontwikkeling van deze applicatie. Daarom willen wij helpen bij een onderzoek naar de gebruiksvriendelijkheid van deze applicatie.
            </p>
            <p>
                Wij zijn van plan deze applicatie te gaan gebruiken, wanneer deze op de markt verschijnt. 
                Om te zien of de applicatie voor ons geschikt zou zijn, doen wij mee aan het onderzoek naar de gebruiksvriendelijkheid. 
            </p>
            <p>
                Wij willen u vragen om mee te doen aan dit onderzoek, om te kijken of de applicatie geschikt zou zijn. Wij vragen u dit onderzoek zo serieus mogelijk uit te voeren. 
                Aangezien de inloggegevens bewaard zullen worden voor het echte gebruik.
            </p>
            <p>
                U kunt inloggen met de volgende gegevens:
            </p>
            <table class="bottem-margin">
                <tr>
                    <th>Gebruikersnaam</th>
                    <td id="Username">@this.companyCode</td>
                </tr>
                <tr>
                    <th>Wachtwoord</th>
                    <td id="Password">@this.generatedPassword</td>
                </tr>
            </table>
            <p class="bottem-margin">
                Met vriendelijke groet,
            </p>
            <p>
                {Vul uw naam in}
            </p>
        </div>
        <p class="bottem-margin">
            Met vriendelijke groet,
        </p>
        <p>
            Het Human factors in Cybersecurity lab
        </p>
    </div>
</div>

@code
{
    AskCompanyForm askCompanyForm;

    Admin admin;

    CompanyController companyController;

    TokenController tokenController;

    string companyCode;

    string generatedPassword;

    /// <summary>
    /// The following code is excuted once this page is loading in
    /// The objects needed for the code to work are made
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() => 
        {
            askCompanyForm = new AskCompanyForm();
            admin = new Admin();
            companyController = new CompanyController(Configuration);
            tokenController = new TokenController();
        });
    }

    /// <summary>
    /// Gets the companyCode and generates a password.
    /// A company is created with this companyCode and password.
    /// </summary>
    async void CompanySet(EditContext editContext)
    {
        await Task.Run(() => 
        {
            companyCode = askCompanyForm.Company;
            generatedPassword = admin.GeneratePassword();

            companyController.SetAndCreate(companyCode, tokenController.CreateHash(generatedPassword), true);
        });
        StateHasChanged();
    }
}