@page "/Statistieken"

@using Nep_Cloud_Storage.DataBaseConnection
@using Nep_Cloud_Storage.Form
@using Nep_Cloud_Storage.Model

<h1 class="title">Statistieken</h1>
<!--The search bar in the top left-->
<div class="search-bar">
    <EditForm Model=@askCompanyForm OnSubmit=@CompanySearch>
        <InputText @bind-Value=askCompanyForm.Company class="search" id="Name" />
        <ValidationMessage For="@(() => askCompanyForm.Company)" />
        <input type="submit" class="button" value="Zoeken"/>
    </EditForm>
</div>
<table>
    <thead>
        <tr>
            <th>Participant</th>
            <th>Wachtwoordsterkte level</th>
            <th>Lengte</th>
            <th>Aantal hoofdletters</th>
            <th>Aantal kleine letters</th>
            <th>Aantal getallen</th>
            <th>Aantal speciale symbolen</th>
            <th>Entropie score</th>
            <th>Pop-up level</th>
            <th>Pop-ups weg geklikt</th>
            <th>Pop-ups geweigerd</th>
            <th>Pop-ups geaccepteerd</th>
        </tr>  
    </thead>
    <tbody>
        @if (statistics != null)
        {
            <!--Cycle through the results in the array statistics-->
            @foreach (Model.Statistics oneStatistics in statistics)
            {
                <tr>
                    <td>@oneStatistics.Id</td>
                    <td>@oneStatistics.PasswordStrengthLevel</td>
                    <td>@oneStatistics.Length</td>
                    <td>@oneStatistics.AmountUpperCase</td>
                    <td>@oneStatistics.AmountLowerCase</td>
                    <td>@oneStatistics.AmountNumbers</td>
                    <td>@oneStatistics.AmountSpecialSymbols</td>
                    <td>@oneStatistics.Entropy</td>
                    <td>@oneStatistics.PopUpLevel</td>
                    <td>@oneStatistics.PopUpsClosed</td>
                    <td>@oneStatistics.PopUpsDeclined</td>
                    <td>@oneStatistics.PopUpsAccepted</td>
                </tr>
            }
        }
    </tbody>
</table>

@code
{
    DataBase database;

    AskCompanyForm askCompanyForm;

    Model.Statistics[] statistics;

    /// <summary>
    /// The following code is excuted once this page is loading in
    /// The objects needed for the code to work are made
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() => 
        {
            database = new DataBase(Configuration);
            askCompanyForm = new AskCompanyForm();
            statistics = new Model.Statistics[0];
        });
    }

    /// <summary>
    /// Is called when the EditForm in the html is commited.
    /// </summary>
    async void CompanySearch(EditContext editContext)
    {
        await Task.Run(() => 
        {
            //Sends the query that gets the results to the database
            statistics = database.SendSQLCodeWithReturn<Model.Statistics[]>(
                "SELECT U.id, passwordStrengthLevel, amountUpperCases, amountLowerCases, amountNumbers, amountSymbols, round(entropy, 4) as entropy, popupLevel, a.PoR1, b.PoR2, c.PoR3 " +
                "FROM user U " +
                "LEFT JOIN maturitylevel M on U.id = M.userId " +
                "LEFT JOIN passwordstrengthdata Pa on U.id = Pa.userId " +
                "LEFT JOIN popupdata Po on U.id = Po.userId " +
                "LEFT JOIN (SELECT U.id as Uid, COUNT(Po.reaction) as PoR1 " +
                "FROM user U " +
                "LEFT JOIN popupdata Po on U.id = Po.userId " +
                "where Po.reaction = 1 " +
                "GROUP BY U.id) as a " +
                "on U.id = a.Uid " +
                "LEFT JOIN (SELECT U.id as Uid, COUNT(Po.reaction) as PoR2 " +
                "FROM user U " +
                "LEFT JOIN popupdata Po on U.id = Po.userId " +
                "where Po.reaction = 2 " +
                "GROUP BY U.id) as b " +
                "on U.id = b.Uid " +
                "LEFT JOIN (SELECT U.id as Uid, COUNT(Po.reaction) as PoR3 " +
                "FROM user U " +
                "LEFT JOIN popupdata Po on U.id = Po.userId " +
                "where Po.reaction = 3 " +
                "GROUP BY U.id) as c " +
                "on U.id = c.Uid " +
                "WHERE U.companyCode = '" + askCompanyForm.Company + "' " +
                "GROUP BY U.id;", DataBase.ReturnTypeValue.StatisticsValue);
        });
        StateHasChanged();
    }
}