.title {
    text-align: center;
    border-bottom-style: solid;
    border-color: darkorange;
    width: 20%;
    margin-top: 2%;
    margin-left: 40%;
    margin-right: 40%;
}

.search-bar {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
}

.search {
    border-radius: 25px;
    border: solid darkorange;
}

.button {
    background-color: #f5c573;
    border: solid darkorange;
    border-radius: 5px;
}

.button:hover {
    background-color: darkorange;
}

table {
    border: solid darkorange;
    border-radius: 25px;
    border-collapse: collapse;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

th {
    text-align: center;
    background-color:  #f5c573;
}

th, td {
    border: solid darkorange;
}