@page "/Documenten"

@using Nep_Cloud_Storage.Model

<div class="wrapper">
	<table class="ui selectable celled table">
		<thead>
			<tr>
				<th>Documenten</th>
				<th>Datum</th>
				<th>Grootte</th>
			</tr>
		</thead>
		<tbody>
			@if (fileData != null)
			{
				<!--Cycle through the results in the array statistics-->
				@foreach (FileData oneFile in fileData)
				{
					<tr id=@oneFile.Id>
						<td data-label="Documenten">@oneFile.Document</td>
						<td data-label="Datum">@oneFile.Date.ToString("dd/MM/yyyy")</td>
						<td data-label="Grootte">@oneFile.Size</td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>

@code{
FileData[] fileData;

	protected override async Task OnInitializedAsync()
	{
        await Task.Run(() => 
        {
            // get fake data for documents display 
            fileData = GetFilesData();
        });
        StateHasChanged();
	}
	
	/// <summary>
	/// fills FileData[] with fake data
	/// </summary>
	private FileData[] GetFilesData()
	{
		List<FileData> listFileData = new List<FileData>();
		listFileData.Add(new FileData {Id = 1, Document = "Agenda Punten Week 20.docx", Date = DateTime.Now.AddDays(-13), Size = "27 KB"});
		listFileData.Add(new FileData {Id = 2, Document = "Rooster Week 20.xlsx", Date = DateTime.Now.AddDays(-12), Size = "31 KB"});
		listFileData.Add(new FileData {Id = 3, Document = "Notities 1.docx", Date = DateTime.Now.AddDays(-10), Size = "41 KB"});
		listFileData.Add(new FileData {Id = 4, Document = "Rooster Week 21.xlsx", Date = DateTime.Now.AddDays(-5), Size = "32 KB"});
		listFileData.Add(new FileData {Id = 5, Document = "Notities 2.docx", Date = DateTime.Now.AddDays(-3), Size = "34 KB"});
		listFileData.Add(new FileData {Id = 6, Document = "Totaly Secure.docx", Date = DateTime.Now.AddDays(-22), Size = "3 GB"});
		return listFileData.ToArray();
	}
}