@page "/Instellingen"

@using DataBaseConnection
@using Nep_Cloud_Storage.Data
@using Nep_Cloud_Storage.Controller
@using Nep_Cloud_Storage.Form
@using Nep_Cloud_Storage.Model

@using Nep_Cloud_Storage.Authentication
@inject AuthenticationStateProvider AuthenticationStateProvider

<style>
	<!-- InputText can't be styled from Settings.razor.css. So the styling for input is done here -->
	.input {
		border: 1px solid #803300;
		border-radius: 10px;
	}
</style>
<link href="NepCloudStorage.Settings.razor.css" rel="stylesheet">

<div class="wrapper">
	<h1>Gebruikersnaam en wachtwoord</h1>
	<div class="form">
		<!-- have the first form to change your username -->
		<EditForm Model=@changeUserNameForm OnValidSubmit=@SaveUsername>
			<DataAnnotationsValidator/>
				<div class="form-group">
					<label for="Name">Nieuw gebruikersnaam:</label>
					<InputText @bind-Value=changeUserNameForm.Name class="form-control input" id="Name" />
					<ValidationMessage For="@(() => changeUserNameForm.Name)" />
				</div>
				<input type="submit" class="btn btn-primary" value="Opslaan"/>
		</EditForm>
	</div>
	<div class="form">
		<!-- have the second form to change your password -->
		<EditForm Model=@changePasswordForm OnValidSubmit=@SavePassword>
			<DataAnnotationsValidator/>
			<div class="form-group">
				<label for="currentPassword">Huidig wachtwoord:</label>
				<InputText type="password" @bind-Value=changePasswordForm.CurrentPassword class="form-control input" id="currentPassword" />
				<ValidationMessage For="@(() => changePasswordForm.CurrentPassword)" />
				@if (invalidPassword)
				{
					<p class="error">Het wachtwoord is incorrect.</p>
				}
				
				<label for="newPassword">Nieuw wachtwoord:</label>
				<InputText type="password" @bind-Value=changePasswordForm.NewPassword class="form-control input" id="newPassword" />
				<ValidationMessage For="@(() => changePasswordForm.NewPassword)" />

				<label for="repeatPassword">Herhaal nieuw wachtwoord:</label>
				<InputText type="password" @bind-Value=changePasswordForm.RepeatPassword class="form-control input" id="repeatPassword" />
				<ValidationMessage For="@(() => changePasswordForm.RepeatPassword)" />
			</div>
			<input type="submit" class="btn btn-primary" value="Opslaan"/>
		</EditForm>
	</div>
</div>

@code {
	DataBase dataBase;
	ChangeUserNameForm changeUserNameForm;
	ChangePasswordForm changePasswordForm;
	UserController userController;
	SessionController sessionController;
	string oldPassword;
	bool invalidPassword;

	/// <summary>
	/// The following code is excuted once this page is loading in.
	/// Both forms that are required to validate the EditForm are initialized here
	/// The classes required to get all the data from the database are also initialized here.
	/// </summary>
	protected override async Task OnInitializedAsync()
	{
		await Task.Run(() => 
        {
			dataBase = new DataBase(Configuration);
			changeUserNameForm = new ChangeUserNameForm();
			changePasswordForm = new ChangePasswordForm();
			userController = new UserController(Configuration);
			sessionController = new SessionController(Configuration);
		});
	}

	/// <summary>
	/// Saves the username in the database if changeUserNameForm has been validated
	/// </summary>
	async void SaveUsername(EditContext editContext)
	{
        SessionData storageSessionData = await sessionStorage.GetItemAsync<SessionData>("session");
		userController.CId = storageSessionData.UserId;
		userController.GetinProperty<User>(true);
		User user = userController.CUser;

		// updates the user with his new username
		dataBase.SendSQLCode($"UPDATE user SET username = '{changeUserNameForm.Name}' WHERE  id = {user.Id}");
		// updates sessiondata
		storageSessionData = sessionController.UpdateSession(storageSessionData, user.Name, user.Password);
        await sessionStorage.SetItemAsync("session", storageSessionData);
		((MyAuthenticationStateProvider)AuthenticationStateProvider).AuthUserWithRole(changeUserNameForm.Name, user.Role.ToString());
		// refreshes page
		changeUserNameForm = new ChangeUserNameForm();
		StateHasChanged();
	}

	/// <summary>
	/// Once changePasswordForm has been validated to following happens:
	/// Checks if the filled in CurrentPassword is the same as the old password from the user
	/// Saves NewPassword as the users password.
	/// </summary>
	private async void SavePassword(EditContext editContext)
	{
        SessionData storageSessionData = await sessionStorage.GetItemAsync<SessionData>("session");

		// gets user from database
		userController.CId = storageSessionData.UserId;
		userController.GetinProperty<User>(true);
		User user = userController.CUser;

		// oldPassword gets old hashed password
		oldPassword = user.Password;
		TokenController tokenController= new TokenController();
		string currentPasswordHashed = tokenController.CreateHash(changePasswordForm.CurrentPassword);

		// Validates if the input for currentPassword equals the password the user has currently
		if (currentPasswordHashed.Equals(oldPassword))
		{
			// gets all metadata for the new password
			Password password = new Password();
			password.CheckPasswordStrength(changePasswordForm.NewPassword);

			// gets all the formating right to properly save the metadata in the database
			string now = DateTime.Now.ToString("yyyy-MM-dd");
			string entropy = password.PasswordEntropyLevel.ToString(".000000", System.Globalization.CultureInfo.InvariantCulture);
			dataBase.SendSQLCode(
				"INSERT INTO passwordstrengthdata (amountUpperCases, amountLowerCases, amountNumbers, amountSymbols, entropy, dateOfTest, userId) VALUES( " + 
				$"{password.PasswordAmountUpperCase}, {password.PasswordAmountLowerCase}, {password.PasswordAmountOfNumbers}, " + 
				$"{password.PasswordAmountOfSpecialCharacters}, {entropy}, '{now}', {user.Id});"
			);

			// sets the maturity level for the users password strength
			dataBase.SendSQLCode($"UPDATE `maturitylevel` SET `passwordStrengthLevel` = '{password.PasswordStrengthLevel}' WHERE (`userId` = '{user.Id}');");

			// changes password in database
			string newPasswordHashed = tokenController.CreateHash(changePasswordForm.NewPassword);
			dataBase.SendSQLCode($"UPDATE user SET password = '{newPasswordHashed}' WHERE  id = {user.Id}");
			
			// updates sessiondata
			storageSessionData = sessionController.UpdateSession(storageSessionData, user.Name, newPasswordHashed);
			await sessionStorage.SetItemAsync("session", storageSessionData);
			
			// refreshes page
			changePasswordForm = new ChangePasswordForm();
			StateHasChanged();
		}
		else
		{
			// writes error messages
			invalidPassword = true;
			StateHasChanged();
		}
	}
}