.wrapper {
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
}

h1 {
	text-align: center;
}

h1::after {
	content: '';
	border-bottom: 3px solid #FF8800;
	width: 88%;
	display: block;
	margin-left: 6%;
	margin-right: 6%;
}

.btn {
	background-color: #FFC994;
	border: 2px solid #803300;
	border-radius: 10px;
	float: right;
}

.form {
	margin-bottom: 60px;
	margin-top: 20px;
}

label {
	margin-left: 5px;
}

.error {
	color: red;
}