@page "/"
@using Model

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<input class="form-control" type="text" placeholder="Type session value" style="width: 200px;" @bind="Name"/>
<br/>
<br/>
<button class="btn btn-primary" @onclick="SaveName">Add item to Session</button>
<br/>
<br/>
<span>Value Read from session storage : </span> @NameFromSessionStorage
<br/>
<br/>
<span>Items in session storage : </span> @ItemInSessionStorage
<br/>
<br/>
<button class="btn btn-primary" @onclick="RemoveName">Remove Item from Session</button>
<br/>
<br/>
<button class="btn btn-primary" @onclick="ClearSessionStorage">Clear Session</button>


@code{
    string NameFromSessionStorage {get; set;}
    int ItemInSessionStorage {get; set;}
    string Name {get; set;}

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GetNameFromSessionStorage();
            await GetFromSessionStorageLength();

            sessionStorage.Changed+=(ShouldRender,e)=>
            {
                Console.WriteLine($"Key {e.Key}, OldValue = {e.OldValue} and NewValue = {e.NewValue}");
            };
            StateHasChanged();
        }
    }

    async Task SaveName()
    {
        await sessionStorage.SetItemAsync("name", Name);
        await GetNameFromSessionStorage();
        await GetFromSessionStorageLength();

        Name = "";
    }

    async Task RemoveName()
    {
        await sessionStorage.RemoveItemAsync("name");
        await GetNameFromSessionStorage();
        await GetFromSessionStorageLength();
    }

    async Task ClearSessionStorage()
    {
        await sessionStorage.ClearAsync();
        await GetNameFromSessionStorage();
        await GetFromSessionStorageLength();
    }

    async Task GetNameFromSessionStorage()
    {
        NameFromSessionStorage = await sessionStorage.GetItemAsync<string>("name");
        if (string.IsNullOrEmpty(NameFromSessionStorage))
        {
            NameFromSessionStorage = "Nothing is in Session";
        }
    }

    async Task GetFromSessionStorageLength()
    {
        Console.WriteLine(await sessionStorage.LengthAsync());
        ItemInSessionStorage = await sessionStorage.LengthAsync();
    }
}