﻿@* <div class="top-row pl-4 navbar navbar-dark">
    <AuthorizeView>
        <a class="navbar-brand" href="Statistieken">@context.User.Identity.Name</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </AuthorizeView>
</div> *@

<div class="@NavMenuCssClass icons" @onclick="ToggleNavMenu">
    <ul class="nav flex-row">
        <li class="nav-item">
            <NavLink class="nav-link" href="Statistieken">
                <p>Statistieken</p> 
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="MKB-Registreren">
                <p>MKB Registreren</p> 
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="logout">
                <p>Uitloggen</p> 
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
