.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: #0058A5;
}

.navbar-brand {
    font-size: 1.1rem;
}

li {
    width: 193px;
  }
.nav-item {
    
    padding-bottom: 0rem;
    
}
    .nav-item:first-of-type {
        padding-top: 0rem;

    }

    .nav-item:last-of-type {
        padding-bottom: 0rem;
    }
  
    .nav-item ::deep a {
        color: #d7d7d7;
        padding-top: 15px;
        text-align: center;
        border-radius: -10px;
        height: 3.5rem;
        width: 192px;
        display: flex;
        line-height: 1.75rem;
    }

.nav-item ::deep a.active {
    
    background: linear-gradient(90deg,#0058a5e3 0%,#0A477E 70%);
    color: white;
}

.nav-item ::deep a:hover {
    background: linear-gradient(90deg,#0058a58a 0%,#0a487e81 80%);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
