@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="page">
    <AuthorizeView Roles="User">
        <div class="sidebar">
            <UserNavMenu />
        </div>
    </AuthorizeView>

    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView Roles="Admin">
                <AdminNavMenu />
            </AuthorizeView>
            <a>Nimbus</a>
        </div>
        <div class="content">
            @Body
        </div>
    </div>
</div>

