﻿
<div class="top-row pl-4 navbar navbar-dark">
    <AuthorizeView>
        <a class="navbar-brand" href="Documenten">@context.User.Identity.Name</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </AuthorizeView>
</div>

<div class="@NavMenuCssClass icons" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="Documenten" Match="NavLinkMatch.All">
                <span class="oi" aria-hidden="true"> 
                    <img id="Document" src="Images/Document_icon.png">
                </span>
                <p>Documenten</p> 
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="Chat">
                <span class="oi" aria-hidden="true">
                    <img id="Chat" src="Images/Chat_icon.png">
                </span> Chat
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="instellingen">
                <span class="oi" aria-hidden="true">
                    <img id="Settings" src="Images/Instellingen_icon.png">
                </span> Gegevens Wijzigen
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="Logout">
                <span class="oi" aria-hidden="true">
                    <img id="SignOut" src="Images/Uitloggen_icon.png">
                </span> Uitloggen
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
