.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: #0058A5;
}

.navbar-brand {
    font-size: 1.1rem;
}
    

.oi {
    width: 0.5rem;
    font-size: 1.1rem;
    padding-bottom: 100px;
    vertical-align: text-top;
    top: -1px;
    margin:0px;
} 
   


.p {
    font-size: 1.8rem;
}

   
li {
    border: 1px solid #034178;
    width: 193px;
  }
.nav-item {
    
    padding-bottom: 0rem;
    
}
    .nav-item:first-of-type {
        padding-top: 0rem;

    }

    .nav-item:last-of-type {
        padding-bottom: 0rem;
    }
  
    .nav-item ::deep a {
        color: #d7d7d7;
        padding-top: 15px;
        text-align: left;
        border-radius: -10px;
        height: 140px;
        width: 192px;
        display: flex;
        line-height: 12rem;
    }

.nav-item ::deep a.active {
    
    background: linear-gradient(90deg,#0058a5e3 0%,#0A477E 70%);
    color: white;
}

.nav-item ::deep a:hover {
    background: linear-gradient(90deg,#0058a58a 0%,#0a487e81 80%);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

#Document{
    background:url('/wwwroot/Images/Document_icon.png') 0 0;
    width: 83px;
    height: 75px;
    padding-left: 33px;
    padding-top: 5px;
    
}
#Chat{
    background:url('/wwwroot/Images/Chat_icon.png') 0 0;
    width:130px;
    height:80px;
    padding-left: 20px;
}
#Settings{
    background:url('/wwwroot/Images/Instellingen_icon.png') 0 0;
    width:145px;
    height:115px;
    padding-left: 16px;
    padding-bottom: 30px;
}
#SignOut{
    background:url('/wwwroot/Images/Uitloggen_icon.png') 0 0;
    width:125px;
    height:170px;
    padding-left: -10px;
    padding-bottom: 80px;
}


